---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home" route=''>
	<main>
		<h1>👋 Hi, I'm <span class="text-gradient">GalvinDev</span></h1>
		<p class="instructions">
			I write in or currently learning: <span><br />
				&bull; Node.JS (Since 2020)<br />
				&bull; C# (Since 2022)<br />
				&bull; Python (Since 2017)<br />
			</span><br />
			And I use: <span><br />
				&bull; Express for Backend <br />
				&bull; Astro/React/NextJS for Frontend <br />
			</span><br />
			Learn more about me below 👇
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/sites"
				title="View my sites 🖥️"
				body="Click here to view and learn about all my sites"
			/>
			<Card
				href="/projects"
				title="View my projects 📄"
				body="Click here to view and learn about all my other projects, such as my bots"
			/>
			<Card
				href="/about"
				title="About me 💻"
				body="Learn more about me"
			/>
			<Card
				href="https://links.galvindev.me.uk"
				title="All my links 🔗"
				body="Find all my socials and GitHub"
			/>
		</ul>
		<a href="https://github.com/galvinpython/galvindev" class="homeNav">Last updated: 1/11/23 🛠️</a>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
